VITE_FEEDBACK_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLSeO9J_sF9W3H8EiYxRxFQHG40n-gmxgBoYsPEYFtIqH_Ly65Q/viewform
VITE_SPREADSHEET_ID=1aBE6BeCPPXSThAZiwXXP34xzBIar1FKM2zU9kGr4wmk
VITE_SHEET_GID=0
